page-juego {
    
}
.Baraja{
    //background-color: darkblue;
    height: 11rem;
    margin-bottom: 1rem;
}


.Carta{
    background-color: beige;
    margin-top: none;
    width: 5.5rem;
    height: auto;
    padding: 0%;
    width:25%;
    
    
}
.tabla{
    border: 5px;
    border-color: beige;
    color: beige;

    background: transparent;
}
.tabla img{
    width: 100%;
    max-width: fit-content;
    height: auto;

    border: 1.4px solid black;
}

.grid-estilo{
    border: 1.2px solid darkgrey;
    background-color: beige;
    width: 90%;

}
//Diseño Baraja
.baraja-diseño{
    border: 2px solid white;
    border-radius: 7%;
    box-shadow: 0px 1px 11px black;
    max-width: 210%;
}
//Seleccionar Carta
.si{
    background-color: #6c5;
}
.no{
    background-color: transparent;
}

//RESPONSIVE
@media (min-width:340px){
    .baraja-diseño{
        max-width: 170%;
    }
}

 @media (min-width:460px){
     .grid-estilo{
         width:  70%;
     }
 }
 @media (min-width:660px){
    .grid-estilo{
        width:  45%;
    }
}
@media (min-width:870px){
    .grid-estilo{
        width:  35%;
    }
}
@media (min-width:1200px){
    .grid-estilo{
        width:  25%;
    }
    .Carta{
        margin-top: 2%;
    }
}

