page-juego {
    
}
.Baraja{
    background-color: darkblue;
    height: 11rem;
    margin-bottom: 1rem;
}


.Carta{
    background-color: beige;
    margin-top: 1rem;
    width: 5.5rem;
    height: auto;
    padding: 0%;
    
    
}
.tabla{
    border: 5px;
    border-color: beige;
    color: beige;
}
.tabla img{
    width: 100%;
    max-width: fit-content;
    height: auto;


}
