page-juego {
    
}
.Baraja{
    background-color: darkblue;
    height: 11rem;
}
.Carta img {
  height: auto;
  width: 100%;
  max-width: fit-content;
}

.Carta{
    background-color: chartreuse;
    
    width: 5rem;
    height: auto;
    padding: 0%;
    margin-bottom: -15%;
    
}
