<!--
  Generated template for the JuegoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--ion-navbar>
    <ion-title text-center>Jugar</ion-title>
  </ion-navbar-->

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="Baraja" col-3 no-padding col-md-2 col-lg-1>
        <img src="assets/imgs/naipeALT.png">
      </div>
    </ion-col>
    <ion-col>
      <div col-12 no-padding col-md-2 col-lg-1>
        <div style="text-align:right">player 1</div>
        <div style="text-align:right">player 2</div>
        <div style="text-align:right">player 3</div>
      </div>
    </ion-col>

  </ion-row>
  <ion-row *ngFor="let item of tabla" no-padding offset-1>

    <div *ngFor="let it of item" class="Carta">
      <button class="tabla">
        <img src="assets/cards/{{it}}.png">
      </button>
    </div>

  </ion-row>

</ion-grid>

<ion-fab right bottom>
  <button ion-fab color="primary" (click)="abrirChat()"><ion-icon name="chatboxes"></ion-icon></button>
</ion-fab>

</ion-content>
