page-perfil {

}
.ImagenPerfil{
   background-color: #149984;

   border-radius: 6px;
}
.md-image-perfil .dw-ul .dw-li .mbsc-img-w {
  text-align: center;
}

.md-image-perfil .mbsc-ltr .mbsc-img-w {
  text-align: center;
}

.md-image-perfil .mbsc-sc-whl-sc .mbsc-sc-itm .mbsc-img-w {
  text-align: left;
}
