<!--
  Generated template for the ElegirCartaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<link rel="stylesheet" href="/node_modules/owl.carousel/distassets/owl.carousel.min.css" />
<ion-header>

  <ion-navbar>
    <ion-title>Elige tu Carta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-slides pager>
      
      <ion-slide *ngFor="let item of tables; let i = index;">
        <h3>Carta {{i+1}}</h3>
        <ion-grid class="grid-estilo-2" (click)="elegir(i)">
            <ion-row justify-content-center *ngFor="let ite of item; let j = index;" >
              <div *ngFor="let it of ite; let l = index;" class="Carta">
                <button class="tabla" >
                  <img class="linea" src="assets/cards/{{it}}.png">
                </button>
              </div>
            </ion-row>
        </ion-grid>
        <hr>
        <!--<button ion-button (click)="elegir(i)" > Elegir</button>-->
      </ion-slide>

      </ion-slides>


</ion-content>