page-elegir-carta {
}
.grid-estilo-2{
    border: 1px solid burlywood;
    box-shadow: 0px 3px 20px burlywood;
    width: 70%;
    margin-bottom: 10%;
}
//Responsive
@media (max-width:400px){
    .grid-estilo-2{
        width: 85%;
    }
}
@media (min-width:660px){
    .grid-estilo-2{
        width: 50%;
    }
}

@media (min-width:770px){
    .grid-estilo-2{
        width: 50%;
    }

}


