.Login {
background: url("../assets/imgs/fondo.jpg")  40% 50%;
background-repeat: repeat-x;
background-size:cover;

}
ion-card{
border-radius: 50%;
border-bottom-right-radius: 25px;
}
/*
.scroll-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/