<!--
  Generated template for the UnirsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="amarillo1">
    <ion-title>Unirse a partida</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4>
<div>
  <button ion-button color="secundary" round float-right (click)="refreshGames()" (click)="presentToast()">
    <ion-icon name="refresh"></ion-icon>
  </button>
<h6>Partidas disponibles</h6>

  <ion-list>
    Lista:
    <button ion-item *ngFor="let game of listGame" (click)="goPlay(game.id_game)">
       <p style="display:inline-block;width:70%">{{ game.title }}</p><div *ngIf="game.status == 'w'" style="color:green;display:inline-flex">  {{game.control.players}}/{{game.settings.players}}</div>
    </button>
  </ion-list>
</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
