<!--
  Generated template for the ConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="amarillo1">
    <ion-title text-center>Configuración</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear color="dark">
        <ion-icon name="logo-usd"></ion-icon> 300
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
  <ion-row>
    <ion-col col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4>
      <button ion-button (click)='Perfil()' block *ngIf="auth.authenticated"><ion-icon name="contact"></ion-icon> &nbsp; Perfil</button>
      <button ion-button color="dark" block (click)="silenciar()">
        <ion-icon name="volume-off" item-left></ion-icon>
        &nbsp; Silenciar</button>
      <button ion-button color="danger" class="Salir" block (click)="logout()" *ngIf="auth.authenticated">
          <ion-icon name="log-out" item-left></ion-icon>
          &nbsp; Salir</button>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4>
      
      </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
